"*":
  "atom-beautify":
    general:
      _analyticsUserId: "986657cd-6a96-4611-8076-2ade715df8ae"
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules/"
      "**.js.map"
    ]
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "19fa5cd9-b71f-cdf1-e08c-78acd5bb4eae"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
